.todoItems {
    display: flex;
    flex-direction: column;
}
.left {
    color: #d2d8de;
}
.col {
    padding: 0 10px 2.5px;
    width: 280px;
    min-width: 280px;
}
.underline {
    margin-bottom: 7.5px;
    background: #d2d8de;
    height: 2px;
    width: 100%;
    border-radius: 3px;
}
.header {
    display: flex;
    justify-content: space-between;
    > .right {
        display: flex;
        align-items: center;
        > img {
            margin-right: 7px;
        }
        > p {
            font-family: monospace;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #7d8790;
        }
    }
}
