.card {
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 5px black;
    }
    width: 180px;
    min-width: 166px;
    margin: 0 5px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 7px;
}
.top {
    > img {
        margin: 6px 4px 0 0;
    }
    display: flex;
    margin-bottom: 7px;
    justify-content: space-between;
}
.right {
    font-family: monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}
.left {
    font-family: monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}
.bottom {
    display: flex;
    flex-direction: row-reverse;
    font-family: monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
